@import 'variables', 'mixins';

.b-solid {
  border-style: solid;
}

.b-1 {
  border-width: 1px;
}

.bl-1 {
  border-left-width: 1px;
}

.bt-1 {
  border-top-width: 1px;
}

.br-1 {
  border-right-width: 1px;
}

.bb-1 {
  border-bottom-width: 1px;
}

@each $bc in map-keys($surface-map) {
  .b-surface-#{$bc} {
    border-color: map-get($surface-map, $bc);
  }
}
