@import 'variables', 'mixins';

$border-radius-map: (
  xs: $border-radius-xs,
  s: $border-radius-sm,
  m: $border-radius-md,
  l: $border-radius-lg,
);

@each $br in map-keys($border-radius-map) {
  .br-#{$br} {
    border-radius: map-get($border-radius-map, $br);
  }
}

@each $br in map-keys($border-radius-map) {
  .br-top-left-#{$br} {
    border-top-left-radius: map-get($border-radius-map, $br);
  }
}

@each $br in map-keys($border-radius-map) {
  .br-top-right-#{$br} {
    border-top-right-radius: map-get($border-radius-map, $br);
  }
}

@each $br in map-keys($border-radius-map) {
  .br-bottom-right-#{$br} {
    border-bottom-right-radius: map-get($border-radius-map, $br);
  }
}

@each $br in map-keys($border-radius-map) {
  .br-bottom-left-#{$br} {
    border-bottom-left-radius: map-get($border-radius-map, $br);
  }
}
